
#btn
{
    color:aliceblue;
    background-image: linear-gradient( rgb(255, 0, 242), rgb(255, 0, 242),rgb(188, 240, 252));
    border-radius : 0px;
    padding:7px;
    border-color:rgb(250, 204, 240);
    font-family:cursive;
    border-width:0px;
    border-radius:15px;
    
}

#torch{
    color:azure;
}

#btn:hover
{
    background-image: linear-gradient(rgb(102, 61, 183),  rgb(255, 0, 242));
    font-weight: bold;
}