body{
    width : 100vh;
    height : 100vh;
    /* color : white; */
    background-image: linear-gradient(black, rgb(50, 65, 75));
}
.container {
    /* margin-right : 25%; */
    /* margin-left : 60%;  */
    text-align: center;
    border: 5px solid white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 45px; 
    font-weight: bolder;
    width : 410px;
    /* border-color: azure; */
}

#heading {
    color: white;
    padding-left: 32px;
}

li {
    list-style-type: none;
}

.list-items{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
    color : rgb(0, 0, 0);
}
